{% extends 'main_pages/../base.html' %}
{% load static %}

{% block  header %}<h2 style="color: #033C8A; font-weight: bold; font-size: 35px; font-family: 'Montserrat',sans-serif;margin-top: 2%; margin-left: 2%">Вводный урок</h2>{% endblock %}
{{ error_message }}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/block.css' %}">
    <div style="margin: 5%">
    <div class="row">
        <div class="col"><img class="img-fluid img-rounded" src="/file/photo_2022-04-30_15-31-03.jpg" style="margin-bottom: 2%"></div>
        <div class="col"><img class="img-fluid" src="/file/photo_2022-04-30_15-31-13.jpg"></div>
    </div>
<div id="frame" style="background-color: #C0EFFF; margin: 5%">
    <div style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 26px; margin: 2%; text-indent: 20px">
Привет, дорогой участник курса❤️ Мы рады, что ты с нами. Лови расписание курса, здесь помечены все даты уроков и дедлайны по второй части.
</div></div>
<div id="frame" style="background-color: #C0EFFF; margin: 5%">
<div style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 26px; margin: 2%; text-indent: 20px">
ДЕДЛАЙНЫ ВЫПОЛНЕНИЯ ДЗ
<br>
    <div class="row-cols-3">
        <div class="col"><div id="surprise"></div></div>
        <div class="col"><div id="surprise"></div></div>
        <div class="col>">
На выполнение тестов даётся 2 дня.
На выполнение второй части 3 дня (дедлайны сдачи второй части обозначены розовым кружочком).
<br>
👉🏻 ссылку на таблицу с дедлайнами своей группы, а также отчетами ты найдёшь в беседе со своим куратором
        </div></div></div></div>
<div id="frame" style="background-color: #C0EFFF; margin: 5%">
<div style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 26px; margin: 2%; text-indent: 20px">
    <div style="font-weight: bold">КАК СДАВАТЬ ДОМАШНИЕ ЗАДАНИЯ</div>
    <br>
<div id="surprise"></div><div id="surprise"></div>Есть строго определённая форма.
<br>
1. Заполнение таблицы с работой над ошибками.<a href="https://vk.com/wall-201675693_1016"> Скачать ее можно здесь.</a>
<br>
Каждое ошибочное суждение ты вносишь в эту таблицу. А если не понимаешь, почему это неправильно, спрашиваешь куратора.
<br>
2. Сдаёшь вторую часть в формате вордовского файла. Прикрепить вторую часть ты сможешь на сайте.
</div>
</div></div>
{% endblock %}