#login_bg {
    display: inline-block;
    width: 100% !important;
    max-width: 550px;
    background: rgba(156, 228, 252, 0.5);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

input[type='text']{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: lighter;
    color: #033C8A;
    opacity: 60%;
}
input[type='password']{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: lighter;
    color: #033C8A;
    opacity: 60%;
}
a {
    text-decoration: none; /* Убираем подчёркивание */
}
#regist p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #033C8A;
    opacity: 60%;
    text-transform: lowercase;
}