{% extends 'main_pages/../base.html' %}
{% load static %}

{% block  header %}<h2 style="color: #033C8A; font-weight: bold; font-size: 35px; font-family: 'Montserrat',sans-serif;">о нас</h2>{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
<div class="container" style="margin: 5% 2%; max-width: 1100px">

<div class="row">
    <div id="header"> Мы - онлайн-школа подготовки к ЕГЭ по обществознанию </div>
</div>
<div class="row">
    <div class="col-8" id="text">
        Готовим к <span style="color: red; margin: 0">ЕГЭ по обществознанию</span> на соточку со стобалльницей<br><br><div style="color: red; margin: 0">Никаких занудных повторений!</div> Только короткие видео с теорией, которые помогут тебе повторить все перед егэ.
    </div>
    <div class="col-4"><img class="mx-auto d-block img-fluid justify-content-center" style="max-height: 440px;" src="{% static 'images/обложка.jpg' %}"></div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <div id="header">о создателе </div>
    </div>
</div>
<div class="row" style="margin-top: 3%">
    <div class="col-4"><img class="mx-auto d-block img-fluid" src="{% static 'images/поля.jpg' %}" alt="фото"></div>
    <div class="col-8" id="text">
Полина, бюджет МГЮА им. Кутафина<br><br>
292/300 баллов на егэ<br><br>
100 баллов за егэ по обществознание.<br><br>
Опыт работы — 2 года.<br><br>
В прошлом году за 4 месяца подготовки (марафоны) средний балл составил 84.4.<br>
    </div>
</div>
<div class="row">
    <div class="col-8">
    <div id="header">уникальность нашей системы</div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-8">
    <div id="text">
1) Тестовая база отсортирована <span style="color: red">по всем темам кодификатора.</span><br>
2) Все задания прошлых лет мы переделали под <span style="color: red">новый</span> формат.<br>
3) Все скрипты проверены действующим экспертом егэ.
    </div>
    </div>
    <div class="col-4"><img class="mx-auto d-block img-fluid" src="{% static 'images/скрипты.jpg' %}">
    </div>
</div>
<div class="row">
    <div class="col-4"><img class="mx-auto d-block img-fluid" src="{% static 'images/майнд.jpg' %}"></div>
    <div class="col-8" id="text">
4) Мы используем <span style="color: red">мнемотехники, ассоциации и майнд-карты</span> для запоминания больших объемов информации! и все это будет в ваших конспектах<br>
    </div>
</div>
    <div class="row">
        <div class="col-8" id="text">
5) Отслеживаем прогресс — пробники раз в неделю на тарифе ВИП.
<br>
6) Мы работаем уже больше года и есть множество положительных отзывов. А значит люди нам доверяют уже минимум год!
<br>

        <div class="col-4"></div>
    </div>
</div>

<div class="row align-self-center d-flex justify-content-center" id="header">
<div style="border: 2px solid #033C8A"></div>
        <span style="margin-top: 5%" class="d-flex justify-content-center">курс UPGRADE</span></div>
    <div class="row" style="margin-top: 2%!important;">
        <div id="text" class="d-flex justify-content-center">82 темы за 5 недель!</div>
    </div>
    <div class="row">
        <div class="col-6"><img class="mx-auto d-block img-fluid" src="{% static 'images/расписаниe1.jpg' %}"></div>
        <div class="col-6"><img class="mx-auto d-block img-fluid" src="{% static 'images/расписание2.jpg' %}"></div>
    </div>
    <div class="row" id="text" style="margin-top: 10%">
    <div class="col-4">
<span style="font-weight: 500;">Для кого?</span><br>
        <span style="font-size: 24px; text-align: justify;">
- если кажется, что все забыл и вся теория перемешалась<br>
- ещё даже не начинал готовиться
        </span>
    </div>
    <div class="col-4">
<span style="font-weight: 500">Что тебя <span style="color: red">НЕ ждёт</span>:</span><br>
        <span style="font-size: 24px; text-align: justify;">
- зубрёжка<br>
- тонна часов вебинаров в один день<br>
- выгорание<br>
        </span>
    </div>
    <div class="col-4">
<span style="font-weight: 500">Что ты <span style="color: red">ПОЛУЧИШЬ?</span></span><br>
        <span style="font-size: 24px; text-align: justify;">
- <span style="color: red">сайт-платформа</span> со всеми заданиями и материалами<br>
- живые вебинары<br>
- лекции по <span style="color: red">20 минут</span>!!!<br>
- обновленные скрипты<br>
- 1 день отдыха <span style="color: red">каждую неделю</span><br>
- стратегия запоминания и структурирования информации<br>
        </span>
    </div>
        <div id="text" style="margin-top: 5%; font-size: 24px"><span style="font-weight: 500; font-size: 28px!important;">Результат:</span><br>
Наш средний балл учеников - <span style="color: red">84,4</span><br> За пять недель - <span style="color:red;">26 учеников с 90+</span> и 5 стобалльников!
    </div>
    <div class="row d-flex justify-content-center" id="header">
    <div style="border: 2px solid #033C8A; margin-top: 3%; margin-bottom: 2%"></div>
Цены
    </div>
    <div class="row">
        <div class="col"><img class="mx-auto d-block img-fluid" src="{% static 'images/тарифы.jpg' %}"></div>
        <div class="col"><img class="mx-auto d-block img-fluid" src="{% static 'images/цены.jpg' %}"></div>
    </div>
</div>

    <div class="row d-flex justify-content-center" id="header">
    <div style="border: 2px solid #033C8A; margin-top: 3%; margin-bottom: 2%"></div>
Отзывы
    </div>
<!-- карусель с отзывами -->
    <div class="d-flex justify-content-center align-content-center">
<div id="carouselExampleControls" class="carousel slide d-block w-50" data-bs-ride="carousel" style="margin-top: 5%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/отзывы 13.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/отзывы 11.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/отзывы 10.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
    </div></div>
</div>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <!-- подключаем платформу анимации GSAP, чтобы создавать анимации сразу с параллаксом -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js'></script>
  <!-- подключаем Zepto — облегчённую библиотеку, аналог jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js'></script>
  
{% endblock %}