<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe width="782" height="440" src="https://www.youtube.com/embed/maHJMYT4tx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
{% if not message %}
<h1>Send homework</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <p><input id="id_docfile" type="file" name="docfile"/></p>
    <!-- {{ form.docfile }} -->
    <p><button type="submit">Send</button></p>
</form>
{% else %}
  Вы уже отправили дз
{% endif %}
</body>
</html>