<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <style>
    #main {
        margin: 2% 5%;
    }
    #arrow {
        margin-top: 2%;
        transform: rotate(180deg);
    }
    #arrow_down {
        transform: rotate(90deg);
    }
    #scroll_bottom {
        background-color: white;
        border: 0px;
    }
    #video {
        width: 100%;
        margin-top: 2%;
    }
    a {
        text-decoration: none;
    }
</style>

    <script>
$(function(){
	$('#scroll_bottom').click(function(){
		$('html, body').animate({scrollTop: $(document).height() - $(window).height()}, 100);
		return false;
	});
});
    </script>

</head>
<body>
<div id="main">
<h2 style="color: #033C8A; font-weight: bold; font-size: 35px;">задание №{{ num_lesson }}</h2>
<div class="row">
    <div class="col d-flex align-self-start"><a href="/student_page/upgrade/{{ name_block }}"><img id="arrow" src="{% static 'images/Arrow.png' %}"></a></div>
    <div class="col d-flex align-self-end justify-content-end"><button id="scroll_bottom"><img id="arrow_down" src="{% static 'images/Arrow.png' %}"></button></div>
</div>

{% for video in videos %}
{% if video != '0' %}
<div id="video" class="d-flex justify-content-center">
    <iframe width="747" height="420" src="{{ video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}
{% endfor %}

{% if themes != '0' %}
{% for theme in themes %}
<a href="/file/{{ theme }}.pdf" style="font-family: 'Montserrat', sans-serif; font-weight: 500; color:#033C8A; font-size:23px;">Скрипт к уроку {{ theme }}</a><br>
{% endfor %}
{% else %}
    <div style="font-family: 'Montserrat', sans-serif; font-weight: 500; color:#033C8A; font-size:28px; text-align: left; margin: 4% 0">
    Вторая часть находится в разделе "Перейти ко второй части".<br> Файл и дедлайн можете найти там.
    </div>
{% endif %}

<div id="test">
<form method="post">
{% csrf_token %}
{% for q, choices_info in quest_choice.items %}
    <div class="container" style="margin-top: 5%; background-color: #CDF1FD; border-radius: 15px;">
        <div class="row" id="question">
        <div class="col-1" id="num" style="font-family: 'Montserrat', sans-serif; font-weight: 500; color:#033C8A; font-size:35px; text-align: center; margin: 2% 0">{{ q.number }}</div>
        <div class="col-11" id="text" style="font-family: 'Montserrat', sans-serif; font-weight: 500; color:#033C8A; font-size:23px; margin: 2% 0">
            {{ q.text }}<br><br>
            {% for info, choices in choices_info.items %}
                {% if info == 'photo' %}
                    <img class="mx-auto d-block img-fluid justify-content-center" src="/file/{{ choices }}" alt="Фото к заданию">
                {% else %}
                    {% for choice in choices %}
                        {{ choice }}<br>
                    {% endfor %}
                {% endif %}
                {{ choice }}<br>
            {% endfor %}
        </div>
        </div>
        <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="Answer" class="form-label">
                <input type="text" class="form-control" name="{{ forloop.counter }}" placeholder="Ответ" style="background: #CDF1FD;border: 3px solid #94B7F0; box-sizing: border-box;border-radius: 15px;width: 60%;margin-left: 2%;">
                </label>
            </div>
        </div>
    </div>
    </div>
{% endfor %}
</div>

<div class="row">
<div class="col">
<form method="post">
{% csrf_token %}
<div style="margin-top: 2%; margin-left: 1%; display: inline-block; width: 40%">
<button type="submit" name="Answer" class="btn btn-primary" style="border-radius: 15px; width: 100%; font-size: 24px;">Отправить</button>
</div>
</form>
</div>
    {% if recent_res %}
        <div class="col d-flex justify-content-end">
        <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div style="margin-top: 2%; margin-left: 1%; display: inline-block;">
                                <a href="/student_page/upgrade/{{ name_block }}">
                                    {% if num_lesson == student.last_lesson_upgrade %}
                                        <button type="submit" name="end_lesson" class="btn-md btn-outline-primary" style="border-radius: 15px; width: 100%; font-size: 24px">Завершить урок</button>
                                    {% else %}
                                        <button type="submit" name="end_lesson" class="btn-md btn-outline-primary" style="border-radius: 15px; width: 100%; font-size: 24px" disabled>Урок завершен</button>
                                    {% endif %}
                                </a>
                                </div>
                            </form>
        </div></div>
        <div style="font-family: 'Montserrat', sans-serif; font-weight: 500; color:#033C8A; font-size:35px; margin-top: 5%">Предыдущие результаты:</div>

            {% for res in recent_res %}
                <div class="row" style="border-bottom: 2px solid #C0C0C0; padding: 1%">
                    <div class="col"><a href="/test/upgrade/{{ res.id }}">Тест за {{ res.data_created }}.</a></div>
                        <div class="col">Кол-во баллов {{ res.all_points }}/{{ res.test.max_points }}.</div>
                        <div class="col">Статус:
                    {% if res.status_check == 0 %}
                        РНО не отправлено
                    {% elif res.status_check == 1 %}
                        на проверке
                    {% else %}
                         принято
                    {% endif %}</div>
                </div>
            {% endfor %}
    {% endif %}

</body>
</html>