{% extends 'main_pages/../base.html' %}
{% load static %}

{% block  header %}
    <h2 style="color: #033C8A; font-weight: bold; font-size: 35px; font-family: 'Montserrat',sans-serif; margin-left: 3%; margin-top: 3%">вторая часть</h2>
<a href="/student_page/upgrade/{{ name_block }}"><img style="margin-top: 2%; margin-left: 2%; transform: rotate(180deg);" src="{% static 'images/Arrow.png' %}"></a>
{% endblock %}
{{ error_message }}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/block.css' %}">
    <div id="text" style="font-size: 24px;"><span style="color:red">Важно: </span>отправляйте файлы с названием в формате ФИ_номер_задания.docx(.doc, .pdf, .odt, .txt)</div>
    <div id="text" style="font-size: 24px;">Например, Петров_пробник1.docx или Петров_вторая_часть_1.8_1.2_1.4.txt</div>
    {% for second_part, info in second_parts.items %}
        {% if date_now >= second_part.date_open %}
        {% for date_up_str, h_s_p in info.items %}
            <div style="margin: 3% 7%">
            {% if date_now < second_part.date_up_key %}
            <div class="col" id="text" style="color: red; font-size: 24px;">сдать до {{ date_up_str }} 23:59 по мск в формате ворд.</div>
            {% else %}
            <div class="col" id="text" style="color: #033C8A; font-size: 24px;">дедлайн прошел</div>
            {% endif %}
                <div class="container-fluid" id="frame" style="background-color: #C7DAF5;">
                    <div class="row justify-content-between" >
                        <div class="col justify-content-center" id="text">{{ second_part.theme }} (задание):
                            <a class=" align-self-center" style="margin-left: auto; margin-right: auto; font-size: 28px" href="{{ second_part.path_to_task }}">нажмите, чтобы скачать задание</a>
                        </div>
                    </div>
                    <div class="row justify-content-center" style="margin-top: 3%">
                        {% for send, tutor_answer in h_s_p.items %}
                        <div class="col">
                            <form method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                    <div class="mb-3">
                                      <label for="formFileMultiple" class="form-label"></label>
                                      <input class="form-control" type="file" id="formFileMultiple" name="docfile" multiple>
                                    </div>
                                    <div style="margin-top: 2%; margin-left: 1%; display: inline-block;">
                                        {% if send == '1' %}
                                        <button type="submit" name="{{ second_part.id }}" class="btn-md btn-outline-secondary" style="border-radius: 15px; width: 100%; font-size: 24px" disabled>Отправить</button>
                                        {% else %}
                                        <button type="submit" name="{{ second_part.id }}" class="btn-md btn-outline-primary" style="border-radius: 15px; width: 100%; font-size: 24px">Отправить</button>
                                        {% endif %}
                                    </div>
                            </form>
                        </div>
                        <div class="col d-flex justify-content-end" style="margin-top: 2%">
                        {% if send == '1' %}
                            {% if tutor_answer != '-1' %}
                                <div style="font-size: 24px">
                                <a href="/file/{{ tutor_answer.file_answer }}">нажмите, чтобы скачать ответ куратора</a>
                                </div>
                            {% else %}
                                <div id="text">на проверке</div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% if date_now > second_part.date_up_key %}
                <div class="row" style="margin: 3% 0">
                    <div id="text">Файл с ключами: <a style="font-size: 28px" href="/file/{{ second_part.path_to_key }}">нажмите, чтобы скачать ключи</a></div>
                </div>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}